<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated mlm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ru.mkn.sovesti.screbok.mlm.editor.MlmModelWizardID"
            name="%_UI_MlmModelWizard_label"
            class="ru.mkn.sovesti.screbok.mlm.editor.MlmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MlmModelFile.gif">
         <description>%_UI_MlmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated mlm -->
      <editor
            id="ru.mkn.sovesti.screbok.mlm.editor.MlmEditorID"
            name="%_UI_MlmEditor_label"
            icon="icons/full/obj16/MlmModelFile.gif"
            extensions="mlm"
            class="ru.mkn.sovesti.screbok.mlm.editor.MlmEditor"
            contributorClass="ru.mkn.sovesti.screbok.mlm.editor.MlmActionBarContributor">
      </editor>
   </extension>

</plugin>
